<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Thank you!</title>
</head>
<body>

<%- include ('partials/header') %>
    <table>
  <tr>
    <th>#Title</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Priority</th>

  </tr>
  <tr>
    <td><%= title %></td>
    <td><%= description %></td>
    <td><%= deadline %></td>
  </tr>
  

</table>

    
    <!-- Activity 4: Insert code here to include the header (found in the partials folder) to your page -->

    
</body>
</html>